### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Heroes of Pymoli Data Analysis by Vijay Saxena
* Although 'Total Revenue' for Male player ($1967) is significantly higher then Female players ($361), but 'Average Purchase' made by both is almost same i.e. ~ 4%
* Most Popular items ('Oathbreaker, Last Hope of the Breaking Storm', 'Nirvana', 'Fiery Glass Crusader') are also in the list of Most popular item as evident in 'Most Poular Item' and 'Most Profitable Item' analysis
* Significant drop in players after the Age Group of 25-29 , it drops by more then 2/3 (from 365 to 101)

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# Raw data file
file_to_load = "Resources/purchase_data.csv"

# Read purchasing file and store into pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
5,5,Yalae81,22,Male,81,Dreamkiss,3.61
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67
8,8,Undjask33,22,Male,21,Souleater,1.10
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58
10,10,Inguron55,23,Male,95,Singed Onyx Warscythe,4.74
11,11,Haisrisuir60,23,Male,162,Abyssal Shard,2.67
12,12,Saelaephos52,21,Male,116,Renewed Skeletal Katana,4.18
13,13,Assjaskan73,22,Male,4,Bloodlord's Fetish,1.70
14,14,Saesrideu94,35,Male,165,Bone Crushing Silver Skewer,4.86
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89
16,16,Lisirra25,20,Male,40,Second Chance,2.52
17,17,Zontibe81,21,Male,161,Devine,1.76
18,18,Reunasu60,22,Female,82,Nirvana,4.90
19,19,Chamalo71,30,Male,89,"Blazefury, Protector of Delusions",4.64
20,20,Iathenudil29,20,Male,57,"Despair, Favor of Due Diligence",4.60
21,21,Phiarithdeu40,20,Male,168,"Sun Strike, Jaws of Twisted Visions",1.48
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81
23,23,Eyrian71,40,Male,151,Severance,3.40
24,24,Siala43,30,Male,141,Persuasion,3.19
25,25,Lisirra87,29,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23
26,26,Lirtossa84,11,Male,71,Demise,1.61
27,27,Eusri44,7,Male,96,Blood-Forged Skeletal Spine,3.09
28,28,Aela59,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",4.32
29,29,Tyida79,24,Male,37,"Shadow Strike, Glory of Ending Hope",3.16
...,...,...,...,...,...,...,...
750,750,Iljask75,22,Male,167,"Malice, Legacy of the Queen",3.61
751,751,Lisjaskan36,11,Male,180,Stormcaller,3.36
752,752,Mindjasksya61,17,Male,112,Worldbreaker,2.60
753,753,Frichirranya75,36,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23
754,754,Pheosurllorin41,23,Female,79,"Alpha, Oath of Zeal",4.05
755,755,Raesty92,12,Male,76,Haunted Bronzed Bludgeon,3.15
756,756,Ilast79,20,Male,73,Ritual Mace,2.05
757,757,Eratiel90,18,Male,57,"Despair, Favor of Due Diligence",4.60
758,758,Iral74,21,Male,182,Toothpick,4.03
759,759,Tyaelorap29,25,Male,72,Winter's Bite,3.77
760,760,Aithelis62,21,Male,44,Bonecarvin Battle Axe,2.38
761,761,Assim27,45,Male,17,"Lazarus, Terror of the Earth",1.70
762,762,Asur53,26,Male,110,Suspension,1.44
763,763,Lassilsala30,21,Male,85,Malificent Bag,1.75
764,764,Saedaiphos46,18,Male,113,Solitude's Reaver,4.07
765,765,Irith83,18,Male,130,Alpha,2.07
766,766,Aelastirin39,23,Male,58,"Freak's Bite, Favor of Holy Might",4.14
767,767,Ilmol66,8,Female,92,Final Critic,4.88
768,768,Assassasta79,38,Male,92,Final Critic,4.88
769,769,Ilosian36,15,Male,145,Fiery Glass Crusader,4.58
770,770,Lirtosia63,34,Male,12,Dawne,1.02
771,771,Iskossasda43,16,Male,25,Hero Cane,4.35
772,772,Asur53,26,Male,136,Ghastly Adamantite Protector,3.58
773,773,Hala31,21,Male,19,"Pursuit, Cudgel of Necromancy",1.02
774,774,Jiskjask80,11,Male,101,Final Critic,4.19
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,101,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

## Player Count

* Display the total number of players

In [3]:
player_count=purchase_data["SN"].nunique()
print(f"### Player Count(Unqiue): {player_count}")

### Player Count(Unqiue): 576

In [4]:
#Format all float values as currency
pd.options.display.float_format = '${:,.2f}'.format

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
print("### Purchasing Analysis (Total)")
unique_items=purchase_data["Item Name"].nunique()
avg_price=purchase_data['Price'].mean()
purchase_count=purchase_data["Price"].count()
total_rev = purchase_data['Price'].sum()
#purchase_analysis =pd.DataFrame[()]
purchase_analysis_df=pd.DataFrame({"Number of Unique Items" : [unique_items],
              "Average Price": [round(avg_price,2)],
             "Number of Purchases":[purchase_count],
             "Total Revenue":[round(total_rev,2)]})
#purchase_analysis_df=pd.DataFrame(purchase_analysis_data)
#purchase_analysis_df['Average Price']=purchase_analysis_df["Average Price"].map("${0:,.2f}".format)
#purchase_analysis_df['Total Revenue']=purchase_analysis_df["Total Revenue"].map("${0:,.2f}".format)
purchase_analysis_df[['Number of Unique Items','Average Price','Number of Purchases','Total Revenue']]

### Purchasing Analysis (Total)

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179          $3.05                  780      $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [6]:
print ("### Gender Demographics-v1 (With Calculations based on Non-Unique player count)")
gender_demg_df=purchase_data.groupby(['Gender'])
gender_demg_df=gender_demg_df['SN'].count().reset_index()
gender_demg_df.columns=['Gender','Total']
gender_demg_df['Percentage']= round((gender_demg_df['Total'] / gender_demg_df['Total'].sum())*100,2)

gender_demg_df['Percentage']=gender_demg_df["Percentage"].map("{0:,.2f}%".format)
gender_demg_df = gender_demg_df[['Gender', 'Percentage','Total']]
gender_demg_df.sort_values(by=['Total'], ascending=False).set_index('Gender')

### Gender Demographics-v1 (With Calculations based on Non-Unique player count)

                      Percentage  Total
Gender
Male                      83.59%    652
Female                    14.49%    113
Other / Non-Disclosed      1.92%     15

In [7]:
print ("### Gender Demographics-v2 (With Calculations based on Unique player count)")
gender_demg_df=purchase_data.groupby(['Gender'])
gender_demg_df=gender_demg_df['SN'].nunique().reset_index()
gender_demg_df.columns=['Gender','Total']
gender_demg_df['Percentage']= round((gender_demg_df['Total'] / gender_demg_df['Total'].sum())*100,2)

gender_demg_df['Percentage']=gender_demg_df["Percentage"].map("{0:,.2f}%".format)
gender_demg_df = gender_demg_df[['Gender', 'Percentage','Total']]
gender_demg_df.sort_values(by=['Total'], ascending=False).set_index('Gender')

### Gender Demographics-v2 (With Calculations based on Unique player count)

                      Percentage  Total
Gender
Male                      84.03%    484
Female                    14.06%     81
Other / Non-Disclosed      1.91%     11


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [8]:
print("### Purchasing Analysis (Gender)-v1")
gender_grp=purchase_data.groupby(['Gender'])
gender_list=[]
purchase_count=[]
avg_list=[]
total_list=[]
avg_total_person_list=[]
for g,g_df in gender_grp:
    #print(f"{g}  {g_df['SN'].nunique()} {g_df['Purchase ID'].count()}  {round(g_df['Price'].mean(),2)}  {round(g_df['Price'].sum(),2)}")
    gender_list.append(g)
    purchase_count.append(g_df['Purchase ID'].count())
    avg_list.append(round(g_df['Price'].mean(),2))
    total_list.append(round(g_df['Price'].sum(),2))
    avg_total_person_list.append(round(g_df['Price'].sum()/g_df['SN'].nunique(),2))
    
    
gender_purchase_data={"Gender":gender_list,
            "Purchase Count":purchase_count,
            "Average Purchase Price":avg_list,
            "Total Revenue":total_list,
            "Average Purchase Total per Person":avg_total_person_list}
gender_purchase_df=pd.DataFrame(gender_purchase_data)
#gender_purchase_df
gender_purchase_df=gender_purchase_df[["Gender","Purchase Count","Average Purchase Price", "Total Revenue","Average Purchase Total per Person"]].sort_values(by=['Purchase Count'], ascending=False)
#gender_purchase_df['Average Purchase Price']=gender_purchase_df["Average Purchase Price"].map("${0:,.2f}".format)
#gender_purchase_df['Total Revenue']=gender_purchase_df["Total Revenue"].map("${0:,.2f}".format)
#gender_purchase_df['Average Purchase Total per Person']=gender_purchase_df["Average Purchase Total per Person"].map("${0:,.2f}".format)

gender_purchase_df.set_index('Gender')

### Purchasing Analysis (Gender)-v1

,Purchase Count,Average Purchase Price,Total Revenue,Average Purchase Total per Person
Gender,,,,
Male,652,$3.02,"$1,967.64",$4.07
Female,113,$3.20,$361.94,$4.47
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [ ]:
######testing

In [9]:
print("### Purchasing Analysis (Gender)-v2")
gender_list=[]
player_count=[]
purchase_count=[]
avg_list=[]
total_list=[]
avg_total_person_list=[]
for gender in purchase_data["Gender"].unique():
    g_df=purchase_data[purchase_data["Gender"]==gender]
    g_avg_price=round(g_df['Price'].mean(),2)
    g_purchase_count=g_df["Price"].count()
    g_total_rev = round(g_df['Price'].sum(),2)
    g_avg_total_person = round(g_df['Price'].sum()/g_df['SN'].nunique(),2)

    gender_list.append(gender)
    player_count.append(g_df['SN'].nunique())
    purchase_count.append(g_purchase_count)
    avg_list.append(g_avg_price)
    total_list.append(g_total_rev)
    avg_total_person_list.append(g_avg_total_person)

gender_purchase_data={"Gender":gender_list,
            "Purchase Count":purchase_count,
            "No of Players(Unique)":player_count,
            "Average Purchase Price":avg_list,
            "Total Revenue":total_list,
            "Average Purchase Total per Person":avg_total_person_list}
gender_purchase_df=pd.DataFrame(gender_purchase_data)

gender_purchase_df=gender_purchase_df[["Gender","Purchase Count","No of Players(Unique)","Average Purchase Price", "Total Revenue","Average Purchase Total per Person"]].sort_values(by=['Purchase Count'], ascending=False)

#gender_purchase_df['Average Purchase Price']=gender_purchase_df["Average Purchase Price"].map("${0:,.2f}".format)
#gender_purchase_df['Total Revenue']=gender_purchase_df["Total Revenue"].map("${0:,.2f}".format)
#gender_purchase_df['Average Purchase Total per Person']=gender_purchase_df["Average Purchase Total per Person"].map("${0:,.2f}".format)

gender_purchase_df.set_index('Gender')

### Purchasing Analysis (Gender)-v2

,Purchase Count,No of Players(Unique),Average Purchase Price,Total Revenue,Average Purchase Total per Person
Gender,,,,,
Male,652,484,$3.02,"$1,967.64",$4.07
Female,113,81,$3.20,$361.94,$4.47
Other / Non-Disclosed,15,11,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [15]:
print("### Age Demographics")
# Establish bins for ages
pd.options.display.float_format = '{:,.2f}%'.format
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

purchase_data['Age Group']=pd.cut(purchase_data["Age"], age_bins,labels=group_names)
age_analysis_df=purchase_data[["SN","Age Group"]]

age_analysis_df=age_analysis_df.groupby("Age Group")["SN"].count().reset_index()
age_analysis_df.columns=[["Age Group","Total"]]
age_analysis_df['Percentage']=round((age_analysis_df['Total']/age_analysis_df['Total'].sum())*100,2)
age_analysis_df = age_analysis_df[['Age Group', 'Percentage','Total']]
age_analysis_df.set_index('Age Group')
#age_analysis_df['Percentage']=age_analysis_df["Percentage"].map("%{0:,.2f}".format)

### Age Demographics

          Percentage Total
Age Group
(<10,)         2.95%    23
(10-14,)       3.59%    28
(15-19,)      17.44%   136
(20-24,)      46.79%   365
(25-29,)      12.95%   101
(30-34,)       9.36%    73
(35-39,)       5.26%    41
(40+,)         1.67%    13

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [18]:
pd.options.display.float_format = '${:,.2f}'.format
age_df=purchase_data.groupby("Age Group")
pcount=age_df["Purchase ID"].count().reset_index()
ucount=age_df["SN"].nunique().reset_index()
avgprice=round(age_df["Price"].mean(),2).reset_index()
sumprice=age_df["Price"].sum().reset_index()
avgtotalpp=round(age_df["Price"].sum()/age_df["SN"].nunique(),2).reset_index()

age_df=pcount.merge (ucount, on='Age Group').merge(avgprice, on='Age Group').merge(sumprice, on='Age Group').merge(avgtotalpp, on='Age Group')
age_df.columns=["Age Group","Purchase Count","Unique count","Average Purchase Price","Total Purchase Value","Average Purchase Total per Person"]
age_df.set_index('Age Group', inplace=True)
#age_df['Average Purchase Price']=age_df["Average Purchase Price"].map("${0:,.2f}".format)
#age_df['Average Purchase Total per Person']=age_df["Average Purchase Total per Person"].map("${0:,.2f}".format)
#age_df['Total Purchase Value']=age_df["Total Purchase Value"].map("${0:,.2f}".format)
age_df

,Purchase Count,Unique count,Average Purchase Price,Total Purchase Value,Average Purchase Total per Person
Age Group,,,,,
<10,23,17,$3.35,$77.13,$4.54
10-14,28,22,$2.96,$82.78,$3.76
15-19,136,107,$3.04,$412.89,$3.86
20-24,365,258,$3.05,"$1,114.06",$4.32
25-29,101,77,$2.90,$293.00,$3.81
30-34,73,52,$2.93,$214.00,$4.12
35-39,41,31,$3.60,$147.67,$4.76
40+,13,12,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [19]:
pd.options.display.float_format = '${:,.2f}'.format
topspender_df=purchase_data.groupby("SN")
#sn_df

pcount=topspender_df["Purchase ID"].count().reset_index()
avgprice=round(topspender_df["Price"].mean(),2).reset_index()
sumprice=topspender_df["Price"].sum().reset_index()
topspender_df=pcount.merge (avgprice, on='SN').merge(sumprice, on='SN')
topspender_df.columns=["SN","Purchase Count","Average Purchase Price","Total Purchase Value"]

#sn_df.set_index("SN",inplace=True)
topspender_df.sort_values(by=["Total Purchase Value"], ascending=False).head(5).set_index('SN')

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                   $3.79                $18.96
Idastidru52               4                   $3.86                $15.45
Chamjask73                3                   $4.61                $13.83
Iral74                    4                   $3.40                $13.62
Iskadarya95               3                   $4.37                $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [20]:
popular_item_df=purchase_data.groupby(["Item ID","Item Name"])
pcount=popular_item_df["Purchase ID"].count().reset_index()
avgprice=round(popular_item_df["Price"].mean(),2).reset_index()
sumprice=popular_item_df["Price"].sum().reset_index()
popular_item_df=pcount.merge (avgprice, on=['Item ID','Item Name']).merge(sumprice, on=['Item ID','Item Name'])
popular_item_df.columns=["SN","Item Name", "Purchase Count","Item Price","Total Purchase Value"]

popular_item_df.sort_values(by=["Purchase Count"], ascending=False).head(5).set_index(['SN','Item Name'])

,,Purchase Count,Item Price,Total Purchase Value
SN,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [21]:
popular_item_df.sort_values(by=["Total Purchase Value"], ascending=False).head(5).set_index(['SN','Item Name'])

,,Purchase Count,Item Price,Total Purchase Value
SN,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80

### My analysis(observable trend) is included on the top of this execercise .